In [2]:
from pandas import DataFrame
import pandas as pd

#첫 번째 데이터 프레임
data = [
    ["컴퓨터와주변기기", "044380", "주연테크", 784],
    ["교육서비스", "072870", "메가스터디", 11390],
    ["식품", "017810", "풀무원", 11460]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

#두 번째 데이터 프레임
data = [
    ["건설", -0.41],
    ["자동차", -0.45],
    ["교육서비스", -0.27],
    ["컴퓨터와주변기기", 1.35]
]

columns = ["업종명칭", "등락률"]
df2 = DataFrame(data=data, columns=columns)

print(df1)
print(df2)

         업종    종목코드    종목명    현재가
0  컴퓨터와주변기기  044380   주연테크    784
1     교육서비스  072870  메가스터디  11390
2        식품  017810    풀무원  11460
       업종명칭   등락률
0        건설 -0.41
1       자동차 -0.45
2     교육서비스 -0.27
3  컴퓨터와주변기기  1.35

In [5]:
df = pd.merge(left=df1,
              right=df2, left_on="업종",
              right_on="업종명칭")
df

         업종    종목코드    종목명    현재가      업종명칭   등락률
0  컴퓨터와주변기기  044380   주연테크    784  컴퓨터와주변기기  1.35
1     교육서비스  072870  메가스터디  11390     교육서비스 -0.27