In [3]:
from pandas import Series, DataFrame
import pandas as pd

data = {'첫 번째' : [1,2], '두 번째' : [3.4]}
df = pd.DataFrame(data=data)
df

ValueError: All arrays must be of the same length

In [2]:
from pandas import Series,  DataFrame
import pandas as pd

data = {"첫 번째" : [1,2], "두 번째" : [3,4]}
df = pd.DataFrame(data=data)
df

   첫 번째  두 번째
0     1     3
1     2     4

In [5]:
data = [[10,20], [30,40]]
myIndex = ["row1", "row2"]
myColumn = ["col1", "col2"]
df = pd.DataFrame(data=data, index=myIndex, columns=myColumn)
df

      col1  col2
row1    10    20
row2    30    40

In [8]:
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터 프레임
data = {
    "종기" : [72200, 70900],
    "거래량" : [12161798, 146699296]
}
index = ["2023-06-04", "2023-06-03"]
df1 = DataFrame(data, index=index)

# 두 번째 데이터 프레임
data = {
    "종가" : [71000, 71700],
    "거래량" : [14796613, 12686829]
}
index = ["2023-06-02", "2023-06-01"]
df2 = DataFrame(data, index=index)

print(df1)
print(df2)

               종기        거래량
2023-06-04  72200   12161798
2023-06-03  70900  146699296
               종가       거래량
2023-06-02  71000  14796613
2023-06-01  71700  12686829

In [9]:
pd.concat([df1,df2])

                 종기        거래량       종가
2023-06-04  72200.0   12161798      NaN
2023-06-03  70900.0  146699296      NaN
2023-06-02      NaN   14796613  71000.0
2023-06-01      NaN   12686829  71700.0

In [12]:
from pandas import DataFrame
import pandas as pd

#첫 번째 데이터 프레임
data = [
    ["컴퓨터와주변기기", "044380", "주연테크", 784],
    ["교육서비스", "072870", "메가스터디", 11390],
    ["컴퓨터와주변기기", "129890", "앱코", 4860]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

#두 번째 데이터 프레임
data = [
    ["건설", -0.41],
    ["자동차", -0.45],
    ["교육서비스", -0.27],
    ["컴퓨터와주변기기", 1.35]
]

columns = ["업종", "등락률"]
df2 = DataFrame(data=data, columns=columns)

print(df1)
print(df2)

         업종    종목코드    종목명    현재가
0  컴퓨터와주변기기  044380   주연테크    784
1     교육서비스  072870  메가스터디  11390
2  컴퓨터와주변기기  129890     앱코   4860
         업종   등락률
0        건설 -0.41
1       자동차 -0.45
2     교육서비스 -0.27
3  컴퓨터와주변기기  1.35

In [20]:
df = pd.merge(left=df1, right = df2, on="업종")
df

         업종    종목코드    종목명    현재가   등락률
0  컴퓨터와주변기기  044380   주연테크    784  1.35
1     교육서비스  072870  메가스터디  11390 -0.27
2  컴퓨터와주변기기  129890     앱코   4860  1.35

In [8]:
df = pd.merge(left=df1, right = df2, on='업종')
df

         업종    종목코드    종목명    현재가   등락률
0  컴퓨터와주변기기  044380   주연테크    784  1.35
1     교육서비스  072870  메가스터디  11390 -0.27
2  컴퓨터와주변기기  129890     앱코   4860  1.35

In [9]:
df = pd.merge(left=df1, right=df2, on="업종", how="left")
df

         업종    종목코드    종목명    현재가   등락률
0  컴퓨터와주변기기  044380   주연테크    784  1.35
1     교육서비스  072870  메가스터디  11390 -0.27
2  컴퓨터와주변기기  129890     앱코   4860  1.35

In [10]:
df = pd.merge(left=df1, right=df2, on="업종", how="right")
df

         업종    종목코드    종목명      현재가   등락률
0        건설     NaN    NaN      NaN -0.41
1       자동차     NaN    NaN      NaN -0.45
2     교육서비스  072870  메가스터디  11390.0 -0.27
3  컴퓨터와주변기기  044380   주연테크    784.0  1.35
4  컴퓨터와주변기기  129890     앱코   4860.0  1.35

In [11]:
df = pd.merge(left=df1, right = df2, on= "업종", how="outer")
df

         업종    종목코드    종목명      현재가   등락률
0        건설     NaN    NaN      NaN -0.41
1     교육서비스  072870  메가스터디  11390.0 -0.27
2       자동차     NaN    NaN      NaN -0.45
3  컴퓨터와주변기기  044380   주연테크    784.0  1.35
4  컴퓨터와주변기기  129890     앱코   4860.0  1.35

In [ ]:
#첫 번째 데이터 프레임
data = [
    ["컴퓨터와주변기기", "044380", "주연테크", 784]
    ["교육서비스", "072870", "메가스터디", 11390]
]